$couleur-primaire: #9356DC;
$couleur-secondaire: #FF79DA;
$couleur-tertiaire: #99E2D0;
$couleur-fond-1: #F2F2F2;
$couleur-fond-2: #e4e4e4;
$couleur-ombre: #c7c7c7;

@mixin ombre{
    box-shadow: 0px 5px 5px $couleur-ombre;
}
@mixin ombre-foncé{
    box-shadow: 0px 5px 4px darken($couleur-ombre, 10%);
}
@mixin background-btn{
    background: linear-gradient(to bottom right, $couleur-secondaire, $couleur-primaire);
}
@mixin background-btn-claire{
    background: linear-gradient(to bottom right, lighten($couleur-secondaire, 3%), lighten($couleur-primaire, 3%));
}
@mixin spinner{
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid transparent;
    animation: spinning 1s linear infinite;
    animation-timing-function: ease-in-out;
    @keyframes spinning{
        0% { transform: rotate(0deg);}
        100% { transform: rotate(360deg);}
    }
}
@mixin apparition{
    animation: apparition 2s;
    @keyframes apparition {
        0%{opacity: 0;transform: translateY(30px);}
        100%{opacity: 1;}
    }
}

body{
    margin: 0;
    a{
        text-decoration: none;
        color: black;
    }
    ul{
        list-style: none;
    }
}

.Page{
    font-family: "Roboto", sans-serif;
    width: 100%;
    min-width: 320px;
}

/*loader*/

.loader{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: loader0 forwards;
    animation-delay: 3s;
    @keyframes loader0 {
        0%{transform: scale(1);}
        100%{transform: scale(0);}
    }
    &__logo{
        font-family: "Shrikhand", sans-serif;
        font-size: 3rem;
        margin-bottom: 2rem;
    }
    &__spinner{
        display: flex;
        width: 200px;
        height: 200px;
        &__grand{
            width: 200px;
            height: 200px;
            @include spinner;
            border-top: solid $couleur-primaire;
            border-radius: 100px;
        }
        &__moyen{
            width: 150px;
            height: 150px;
            @include spinner;
            border-top: solid $couleur-secondaire;
            border-radius: 75px;

        }
        &__petit{
            width: 100px;
            height: 100px;
            @include spinner;
            border-top: solid $couleur-tertiaire;
            border-radius: 50px;
        }
    }
}

/*header*/

.header {
    position: relative;
    box-shadow: 0px 5px 5px #5c5c5c;
    &__barre{
        display: flex;
        justify-content: center;
        &__logo{
            font-family: "Shrikhand", sans-serif;
            font-weight: 400;
            margin-bottom: 0.5rem;
            margin-top: 1rem;
        }
    }    
}

/*nav*/

.main{
    display: flex;
    flex-direction: column;
}

.nav__ville {
    display: flex;
    justify-content: center;
    background-color: $couleur-fond-2;
    padding: 1rem 0;
    font-size: 1rem;
        i {
            align-self: center;
        }
        &__form {
            margin-left: 0.5rem;
            width: 8rem;
        }
            &__form__input {
                border: none;
                background-color: $couleur-fond-2;
                font-size: 1rem;
                width: 100%;
            }
}

/*présentation*/

.présentation{
    background-color: $couleur-fond-1;
    padding: 2.5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    &__titre{
        margin: 0;
        width: 80%;
    }
    &__texte{
        width: 90%;
    }
    &__btn{
        @include background-btn;
        border-radius: 50px;
        color: white;
        padding: 1rem;
        @include ombre;
        margin: 1rem 0;
        transform: scale(1);
        transition-property: transform;
        transition-duration: 500ms;
        &:hover{
            transform: scale(1.1);
            @include ombre-foncé;
            @include background-btn-claire;
        }
    }
}

/*fonctionnement*/

.fonctionnement{
    padding: 2rem 0 3rem 1rem;
    &__bloc{
        display: flex;
        flex-direction: column;
        &__élément{
            display: flex;
            background-color: $couleur-fond-1;
            margin: 0.5rem 1rem;
            border-radius: 25px;
            padding: 0.6rem 0;
            @include ombre;
            &__chiffre{
                background-color: $couleur-primaire;
                color: white;
                padding: 0.2rem 0.5rem;
                border-radius: 20px;
                position: relative;
                left: -14px;
            }
            i{
                align-self: center;
                font-size: 1.2rem;
                margin-right: 2rem;
                margin-left: 0.5rem;
            }
            &__texte{
                align-self: center;
                font-weight: bold;
            }
            &--violet {
                background-color: lighten($couleur-primaire, 35%);
                i{
                    color: $couleur-primaire;
                }
                    
            }
        }
    }
}

/*restaurants*/

.restaurants{
    background-color: $couleur-fond-1;
    padding: 2rem 1rem 3rem 1rem;
    display: flex;
    flex-direction: column;
    &__vignette{
        background-color: white;
        border-radius: 20px;
        @include ombre;
        margin: 0.6rem 0;
        position: relative;
        &__img{
            display: flex;
            flex-direction: column;
            position: relative;
            img{
                object-fit: cover;
                width: 100%;
                height: 200px;
                border-radius: 20px 20px 0 0;
            }
            p{
                background-color: $couleur-tertiaire;
                color: darken($couleur-tertiaire, 40%);
                font-size: 0.9rem;
                width: 4rem;
                padding: 0.5rem;
                text-align: center;
                align-self: flex-end;
                position: absolute;
                right: 1rem;
                top: 0;
            }
        }
        &__texte{
            padding-left: 1rem;
            h3{
                margin-bottom: 0.5rem;
            }
            p{
                margin-top: 0;
            }
        }
        .like{
            position: absolute;
            right: 1.5rem;
            bottom: 2rem; 
            .coeur{
                font-size: 1.6rem;
    
                &--plein{
                    position: relative;
                    left: 29.5px;
                    background: linear-gradient(to bottom, $couleur-primaire, $couleur-secondaire);
                    color: transparent;
                    background-clip: text;
                    -webkit-background-clip: text;
                    background-size: 100% 0;
                    background-position: 100% 100%;
                    transition-property: background;
                    transition-duration: 1s;
                    background-repeat: no-repeat;
                    &:hover{
                        background-size: 100% 100%;
                    }
                }
            }
        }
    }
}

/*footer*/

footer{
    background-color: #3a3a3a;
    color: white;
    .footer{
        display: flex;
        flex-direction: column;
        padding-left: 1rem;
        h4{
            font-family: "Shrikhand", sans-serif;
            font-size: 1.2rem;
            font-weight: 400;
            margin-bottom: 0;
        }
        ul{
            padding: 0;
            margin-top: 0.5rem;
            li{
                margin: 0.5rem 0;
                a{
                    color: white;
                }
                i{
                    margin-right: 0.5rem;
                    width: 20px;
                }
            }
        }
    }
}

/*menus-header*/

.header{
    box-shadow: none;
    &__barre a{
    align-self: center;
    position: absolute;
    left: 0;
    margin-left: 1rem;
    }
}

/*menus-photo*/

.photo__img{
    object-fit: cover;
    width: 100%;
    height: 250px;
}

/*menus-cartes*/

.carte{
    display: flex;
    flex-direction: column;
    background-color: $couleur-fond-1;
    border-radius: 40px 40px 0 0;
    position: relative;
    margin-top: -50px;
    padding: 0 1rem;
    &__titre{
        display: flex;
        justify-content: space-between;
        margin-top: 1rem;
        h2{
            font-family: "Shrikhand", sans-serif;
            font-weight: 400;
        }
        .like{
            display: flex;
            align-items: center;
            padding-right: 1rem;
            .coeur{
                font-size: 1.6rem;
    
                &--plein{
                    position: relative;
                    left: 25.5px;
                    background: linear-gradient(to bottom, $couleur-primaire, $couleur-secondaire);
                    color: transparent;
                    background-clip: text;
                    -webkit-background-clip: text;
                    background-size: 100% 0;
                    background-position: 100% 100%;
                    transition-property: background;
                    transition-duration: 1s;
                    background-repeat: no-repeat;
                    &:hover{
                        background-size: 100% 100%;
                    }
                }
            }        
        }
    }
    /*carte-section*/
    &__section{
        &__1{
            @include apparition;
        }
        &__2{
            @include apparition;
            animation-duration: 4s;
        }
        &__3{
            @include apparition;
            animation-duration: 6s;
        }
        &__titre{
            font-weight: 400;
            margin-bottom: 0.5rem;
        }
        &__soulignée{
            border-top: solid $couleur-tertiaire;
            width: 3rem;
        }
        &__bloc__vignette{
            display: flex;
            justify-content: space-between;
            background-color: white;
            border-radius: 20px;
            margin: 1rem 0;
            @include ombre;
            &:hover > .carte__section__bloc__vignette__coche{
                display: flex;
                animation: slide 700ms;
                @keyframes slide{
                    0%{width:0}
                    100%{width: 72px;}
                }
            i{
                animation: rotations 700ms;

                @keyframes rotations{
                    0%{transform: rotate(0deg);}
                    100%{transform: rotate(360deg);}
                    }
                }
            
            }
            &__texte{
                padding-left: 1rem;
                white-space: nowrap;
                overflow: hidden;
                h3{
                    margin-bottom: 0;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                p{
                    margin-top: 0.3rem;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
            &__prix{
                align-self: flex-end;
                justify-self: flex-end;
                font-weight: bold;
                margin-right: 1rem;
                margin-left: 1rem;
            }
            &__coche{
                background-color: $couleur-tertiaire;
                border-radius: 0 20px 20px 0;
                display: none;
                i{
                    color: white;
                    align-self: center;
                    margin: 0 1.5rem;
                    font-size: 1.7rem;
                }
            }
        }
    }
    /*menu-bouton*/
    &__btn{
        align-self: center;
        @include background-btn;
        border-radius: 50px;
        color: white;
        padding: 1rem;
        text-align: center;
        width: 200px;
        @include ombre;
        margin: 2rem 0 4rem 0;
        transform: scale(1);
        transition-property: transform;
        transition-duration: 500ms;
        &:hover{
            transform: scale(1.1);
            @include ombre-foncé;
            @include background-btn-claire;
        }    
    }
}