@charset "UTF-8";
body {
  margin: 0;
}
body a {
  text-decoration: none;
  color: black;
}
body ul {
  list-style: none;
}

.Page {
  font-family: "Roboto", sans-serif;
  width: 100%;
  min-width: 325px;
}

/*loader*/
.loader {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  -webkit-animation: loader0 forwards;
          animation: loader0 forwards;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}
@-webkit-keyframes loader0 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes loader0 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
.loader__logo {
  font-family: "Shrikhand", sans-serif;
  font-size: 3rem;
  margin-bottom: 2rem;
}
.loader__spinner {
  display: flex;
  width: 200px;
  height: 200px;
}
.loader__spinner__grand {
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid transparent;
  -webkit-animation: spinning 1s linear infinite;
          animation: spinning 1s linear infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  border-top: solid #9356DC;
  border-radius: 100px;
}
@-webkit-keyframes spinning {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spinning {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loader__spinner__moyen {
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid transparent;
  -webkit-animation: spinning 1s linear infinite;
          animation: spinning 1s linear infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  border-top: solid #FF79DA;
  border-radius: 75px;
}
@keyframes spinning {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loader__spinner__petit {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid transparent;
  -webkit-animation: spinning 1s linear infinite;
          animation: spinning 1s linear infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  border-top: solid #99E2D0;
  border-radius: 50px;
}
@keyframes spinning {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*header*/
.header {
  position: relative;
  box-shadow: 0px 5px 5px #5c5c5c;
}
.header__barre {
  display: flex;
  justify-content: center;
}
.header__barre__logo {
  font-family: "Shrikhand", sans-serif;
  font-weight: 400;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
  font-size: 2rem;
}

/*nav*/
.main {
  display: flex;
  flex-direction: column;
}

.nav__ville {
  display: flex;
  justify-content: center;
  background-color: #e4e4e4;
  padding: 1rem 0;
  font-size: 1rem;
}
.nav__ville i {
  align-self: center;
}
.nav__ville__form {
  margin-left: 0.5rem;
  width: 8rem;
}
.nav__ville__form__input {
  border: none;
  background-color: #e4e4e4;
  font-size: 1rem;
  width: 100%;
}

/*présentation*/
.présentation {
  background-color: #F2F2F2;
  padding: 2.5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.présentation__titre {
  margin: 0;
  width: 80%;
}
.présentation__texte {
  width: 90%;
}
.présentation__btn {
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  border-radius: 50px;
  color: white;
  padding: 1rem;
  box-shadow: 0px 5px 5px #c7c7c7;
  margin: 1rem 0;
  transform: scale(1);
  transition-property: transform;
  transition-duration: 500ms;
}
.présentation__btn:hover {
  transform: scale(1.1);
  box-shadow: 0px 5px 4px #aeaeae;
  background: linear-gradient(to bottom right, #ff88de, #9b63df);
}

/*fonctionnement*/
.fonctionnement {
  padding: 2rem 0 3rem 1rem;
}
.fonctionnement__bloc {
  display: flex;
  flex-direction: column;
}
.fonctionnement__bloc__élément {
  display: flex;
  background-color: #F2F2F2;
  margin: 0.5rem 1rem;
  border-radius: 25px;
  padding: 0.6rem 0;
  box-shadow: 0px 5px 5px #c7c7c7;
}
.fonctionnement__bloc__élément__chiffre {
  background-color: #9356DC;
  color: white;
  padding: 0.2rem 0.5rem;
  border-radius: 20px;
  position: relative;
  left: -14px;
}
.fonctionnement__bloc__élément i {
  align-self: center;
  font-size: 1.2rem;
  margin-right: 2rem;
  margin-left: 0.5rem;
}
.fonctionnement__bloc__élément__texte {
  align-self: center;
  font-weight: bold;
}
.fonctionnement__bloc__élément--violet {
  background-color: #f2eafb;
}
.fonctionnement__bloc__élément--violet i {
  color: #9356DC;
}

/*restaurants*/
.restaurants {
  background-color: #F2F2F2;
  padding: 2rem 1rem 3rem 1rem;
  display: flex;
  flex-direction: column;
}
.restaurants__bloc {
  display: flex;
  flex-direction: column;
}
.restaurants__bloc__vignette {
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 5px 5px #c7c7c7;
  margin: 0.6rem 0;
  position: relative;
}
.restaurants__bloc__vignette__img {
  display: flex;
  flex-direction: column;
  position: relative;
}
.restaurants__bloc__vignette__img img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 200px;
  border-radius: 20px 20px 0 0;
}
.restaurants__bloc__vignette__img p {
  background-color: #99E2D0;
  color: #278870;
  font-size: 0.9rem;
  width: 4rem;
  padding: 0.5rem;
  text-align: center;
  align-self: flex-end;
  position: absolute;
  right: 1rem;
  top: 0;
}
.restaurants__bloc__vignette__texte {
  padding-left: 1rem;
}
.restaurants__bloc__vignette__texte h3 {
  margin-bottom: 0.5rem;
}
.restaurants__bloc__vignette__texte p {
  margin-top: 0;
}
.restaurants__bloc__vignette .like {
  position: absolute;
  right: 1.5rem;
  bottom: 2rem;
}
.restaurants__bloc__vignette .like .coeur {
  font-size: 1.6rem;
}
.restaurants__bloc__vignette .like .coeur--plein {
  position: relative;
  left: 29.5px;
  background: linear-gradient(to bottom, #9356DC, #FF79DA);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-size: 100% 0;
  background-position: 100% 100%;
  transition-property: background;
  transition-duration: 1s;
  background-repeat: no-repeat;
}
.restaurants__bloc__vignette .like .coeur--plein:hover {
  background-size: 100% 100%;
}

/*footer*/
footer {
  background-color: #3a3a3a;
  color: white;
}
footer .footer {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
}
footer .footer h4 {
  font-family: "Shrikhand", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 0;
}
footer .footer ul {
  padding: 0;
  margin-top: 0.5rem;
}
footer .footer ul li {
  margin: 0.5rem 0;
}
footer .footer ul li a {
  color: white;
}
footer .footer ul li i {
  margin-right: 0.5rem;
  width: 20px;
}

/*menus-header*/
.header__menu {
  box-shadow: none;
}
.header__barre a {
  align-self: center;
  position: absolute;
  left: 0;
  margin-left: 1rem;
}

/*menus-photo*/
.photo__img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 250px;
}

/*menus-cartes*/
.carte {
  display: flex;
  flex-direction: column;
  background-color: #F2F2F2;
  border-radius: 40px 40px 0 0;
  position: relative;
  margin-top: -50px;
  padding: 0 1rem;
  /*carte-section*/
  /*menu-bouton*/
}
.carte__titre {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}
.carte__titre h2 {
  font-family: "Shrikhand", sans-serif;
  font-weight: 400;
}
.carte__titre .like {
  display: flex;
  align-items: center;
  padding-right: 1rem;
}
.carte__titre .like .coeur {
  font-size: 1.6rem;
}
.carte__titre .like .coeur--plein {
  position: relative;
  left: 25.5px;
  background: linear-gradient(to bottom, #9356DC, #FF79DA);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-size: 100% 0;
  background-position: 100% 100%;
  transition-property: background;
  transition-duration: 1s;
  background-repeat: no-repeat;
}
.carte__titre .like .coeur--plein:hover {
  background-size: 100% 100%;
}
.carte__section__1 {
  -webkit-animation: apparition 2s;
          animation: apparition 2s;
}
@-webkit-keyframes apparition {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
  }
}
@keyframes apparition {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
  }
}
.carte__section__2 {
  -webkit-animation: apparition 2s;
          animation: apparition 2s;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
}
@keyframes apparition {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
  }
}
.carte__section__3 {
  -webkit-animation: apparition 2s;
          animation: apparition 2s;
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
}
@keyframes apparition {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
  }
}
.carte__section__titre {
  font-weight: 400;
  margin-bottom: 0.5rem;
}
.carte__section__soulignée {
  border-top: solid #99E2D0;
  width: 3rem;
}
.carte__section__bloc__vignette {
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-radius: 20px;
  margin: 1rem 0;
  box-shadow: 0px 5px 5px #c7c7c7;
}
.carte__section__bloc__vignette:hover .carte__section__bloc__vignette__coche {
  display: flex;
  -webkit-animation: slide 700ms;
          animation: slide 700ms;
}
@-webkit-keyframes slide {
  0% {
    width: 0;
  }
  100% {
    width: 72px;
  }
}
@keyframes slide {
  0% {
    width: 0;
  }
  100% {
    width: 72px;
  }
}
.carte__section__bloc__vignette:hover .carte__section__bloc__vignette__coche i {
  -webkit-animation: rotations 700ms;
          animation: rotations 700ms;
}
@-webkit-keyframes rotations {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotations {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.carte__section__bloc__vignette__texte {
  padding-left: 1rem;
  white-space: nowrap;
  overflow: hidden;
}
.carte__section__bloc__vignette__texte h3 {
  margin-bottom: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}
.carte__section__bloc__vignette__texte p {
  margin-top: 0.3rem;
  overflow: hidden;
  text-overflow: ellipsis;
}
.carte__section__bloc__vignette .colle {
  display: flex;
}
.carte__section__bloc__vignette__prix {
  align-self: flex-end;
  justify-self: flex-end;
  font-weight: bold;
  margin-right: 1rem;
  margin-left: 1rem;
}
.carte__section__bloc__vignette__coche {
  background-color: #99E2D0;
  border-radius: 0 20px 20px 0;
  display: none;
}
.carte__section__bloc__vignette__coche i {
  color: white;
  align-self: center;
  margin: 0 1.5rem;
  font-size: 1.7rem;
}
.carte__btn {
  align-self: center;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  border-radius: 50px;
  color: white;
  padding: 1rem;
  text-align: center;
  width: 200px;
  box-shadow: 0px 5px 5px #c7c7c7;
  margin: 2rem 0 4rem 0;
  transform: scale(1);
  transition-property: transform;
  transition-duration: 500ms;
}
.carte__btn:hover {
  transform: scale(1.1);
  box-shadow: 0px 5px 4px #aeaeae;
  background: linear-gradient(to bottom right, #ff88de, #9b63df);
}

@media screen and (min-width: 768px) {
  .fonctionnement__bloc {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .fonctionnement__bloc__élément {
    width: 45%;
  }

  footer .footer {
    align-items: center;
  }
  footer .footer ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin: 2rem 0;
  }
}
@media screen and (min-width: 992px) {
  .fonctionnement__bloc {
    flex-wrap: nowrap;
  }
  .fonctionnement__bloc__élément {
    width: 30%;
  }

  .restaurants__bloc {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .restaurants__bloc__vignette {
    width: 45%;
  }

  .carte__titre {
    justify-content: center;
  }

  .carte__section__bloc {
    display: flex;
    flex-direction: row;
  }
  .carte__section__bloc__vignette {
    flex-basis: 100%;
    margin: 1rem 1rem;
  }
}/*# sourceMappingURL=style.css.map */