@mixin ombre{
    box-shadow: 0px 5px 5px $couleur-ombre;
}
@mixin ombre-foncé{
    box-shadow: 0px 5px 4px darken($couleur-ombre, 10%);
}
@mixin background-btn{
    background: linear-gradient(to bottom right, $couleur-secondaire, $couleur-primaire);
}
@mixin background-btn-claire{
    background: linear-gradient(to bottom right, lighten($couleur-secondaire, 3%), lighten($couleur-primaire, 3%));
}
@mixin spinner{
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid transparent;
    animation: spinning 1s linear infinite;
    animation-timing-function: ease-in-out;
    @keyframes spinning{
        0% { transform: rotate(0deg);}
        100% { transform: rotate(360deg);}
    }
}
@mixin apparition{
    animation: apparition 2s backwards;
    @keyframes apparition {
        0%{opacity: 0;transform: translateY(30px);}
        100%{opacity: 1;}
    }
}