@media screen and (min-width: 768px){
    .fonctionnement__bloc{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        &__élément{
            width: 45%;
        }
    }
    footer .footer{
        align-items: center;
        ul{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            width: 100%;
            margin: 2rem 0;
        }
    }
}

@media screen and (min-width: 992px) {
    .header__menu{
        max-width: 1440px;
        margin: auto;
        position: relative;
    }
    .fonctionnement{
        width: calc(100% - 2rem);
        max-width: 1440px;
        margin: auto;
        &__bloc{
            flex-wrap: nowrap;
            &__élément{
                width: 30%;
            }
        }
    }
    .restaurants__fond{
        max-width: 1440px;
        margin: auto;
    }
    .restaurants__bloc{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        &__vignette{
            width: 48%;
        }
    }
    footer .footer{
        max-width: 1440px;
        margin: auto;
    }
    .photo{
        max-width: 1440px;
        margin: auto;
    }
    .carte{
        max-width: 1440px;
        margin-left: auto;
        margin-right: auto;
    }
    .carte__titre{
        justify-content: center;
    }
    .carte__section__bloc{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        &__vignette{
            width: 30%;
            margin: 1rem 0;
        }
    }
}